
                                    <div class="sideNavLeftBox">
                                        <a class="uhcBlackLink " ng-click="scrollTo('hdr1')" href="">Questions we hear a lot!</a>
                                    </div>
                                    <div class="sideNavLeftBox">
                                        <a class="uhcBlackLink" ng-click="scrollTo('hdr2')" href="">Learning about student insurance and your student insurance plan</a>
                                    </div>
                                    <div class="sideNavLeftBox">
                                        <a class="uhcBlackLink" ng-click="scrollTo('hdr3')" href="">How to use your student insurance plan benefits</a>
                                    </div>
                                    <div class="sideNavLeftBox">
                                        <a class="uhcBlackLink" ng-click="scrollTo('hdr4')" href="">The Affordable Care Act</a>
                                    </div>
                                    <div class="sideNavLeftBox">
                                        <a class="uhcBlackLink" ng-click="scrollTo('hdr5')" href="">State and Federal Exchanges</a>
                                    </div>
