<div id="homeBox3Wrapper" ng-controller="homeTipCtrl as ctrl" ng-cloak>
                        
        <!-- TIP SLIDE ONE - MIXED CONTENT -->
        <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
                        <div id="homeTip1" class="homeBox3">
                            <div class="fourty">
                                <h5>Tax time: Form 1095-B!</h5>
    This is the form that shows how many months you were covered in the prior year. You don&rsquo;t need it to file your taxes, it&rsquo;s just informational. 
                                </div>
                                <div class="sixty hideImage" style="background-image:url('img/heroNews.jpg');"> 
                            </div>

                                <div class="buttonWrap">
                 <!--NEXT SLIDER BUTTON -->   <md-button ng-click="nextTip('homeTip2')" class="md-raised md-primary">Got It. Show Me Another Tip!</md-button>
                                </div>
                        </div>
        <!-- ////////////////////////////////// -->
        <!-- TIP SLIDE ONE -->


        <!-- TIP SLIDE TWO - VIDEO -->
        <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->        
                        <div id="homeTip2" class="homeBox3 hideInitially">
                                <div class="sixty">
                                        <iframe width="100%" height="280px" src="https://www.youtube.com/embed/h8iD5WCn45w" frameborder="0" allowfullscreen></iframe>
                                </div>
                                    <div class="fourty" >
                                        <h5>UHCSR Health Insurance Plans For Internationals</h5>
                                        Your student insurance plan is a one year plan and if you want coverage for a new school year or a portion of a year, you’ll have to enroll again.
                                    </div>
                                <div class="buttonWrap">
                 <!--NEXT SLIDER BUTTON -->    <md-button ng-click="nextTip('homeTip3')"  class="md-raised md-primary">Got It. Show Me Another Tip!</md-button>
                                </div>
                        </div>
        <!-- ////////////////////////////////// -->
        <!-- TIP SLIDE TWO -->



        <!-- TIP SLIDE THREE -->
        <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ --> 
                        <div id="homeTip3" class="homeBox3 hideInitially">
                                    <!-- FULL IMAGE -->
                                    <div class="fifty" >
                                        <h5>Curabitur a risus tristique lectus</h5>
                                        Lorem ipsum dolor sit a risus tristique lectus pellentesque ultrices quis sed diam. In ullamcorper nibh mi, sit amet ultricies neque laoreet quis. Aliquam erat volutpat. Ut quis facilisis lorem.
                                    </div>
                                    <div class="fifty hideImage" style="background-image:url('img/heroProviderResources.jpg');" >

                                    </div>
                                <div class="buttonWrap">
                 <!--NEXT SLIDER BUTTON -->   <md-button ng-click="nextTip('homeTip1')" class="md-raised md-primary">Got It. Show Me Another Tip!</md-button>
                                </div>
                        </div>
        <!-- ////////////////////////////////// -->
        <!-- TIP SLIDE THREE -->                        

</div>